/* GLOBAL RESETS */
:root {
    --primary-black: #111111;
    --primary-white: #fffafa;
    --gray: #787878;
    --primary-red: #ec120b;
}

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
    color: var(--primary-white);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    overflow-x: hidden;
    transition: all 300ms ease;
    background-color: var(--primary-black);
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.d-flex {
    display: flex;
    align-items: center;
}

/* HEADER */

.header {
    position: fixed;
    padding: 10px 25px;
    top: 0;
    left: 0;
    right: 0;
}

.header .header_top {
    justify-content: space-between;
}

/* Styles left header */

.header .left .menu_container .menu {
    width: 1.8rem;
    height: 1.3rem;
    margin-right: 2.3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header .left .menu_container .menu .row {
    width: 100%;
    height: .1rem;
    background-color: var(--primary-white);
}

.header .left .logo {
    position: relative;
}

.header .left .logo .logo_icon{
    position: relative;
    color: var(--primary-red);
    font-size: 2.7rem;
}

.header .left .logo .logo_icon::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primary-white);
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    z-index: -1;
}

.header .left .logo h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2rem;
    letter-spacing: -1px;
    font-weight: 600;
    margin-left: 5px;
}

.header .left .logo span {
    position: absolute;
    top: -3px;
    right: -17px;
    color: #9b9b9b;
    font-size: 1rem;
}

/* Styles center header */

.header .center .input_container {
    flex-direction: row;
    height: 40px;
    background-color: transparent;
    border: .1rem solid var(--gray);
    border-radius: 30px;
    width: 50rem;
    overflow: hidden;
    margin-right: 2rem;
}

.header .center .input_container .form_search {
    position: relative;
    width: 100%;
    padding: 15px;
}

.header .center .input_container .form_search #label_search {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    font-size: 1.5rem;
    cursor: pointer;
}

.header .center .input_container .form_search #label_search i {
    color: #9b9b9b;
    transition: 100ms linear;
}

.header .center .input_container .form_search #label_search:hover i {
    color: var(--primary-white);
}

.header .center .input_container .form_search #search_input {
    width: 100%;
    background-color: transparent;
    font-size: 1.6rem;
}

.header .center .input_container .button_search {
    background-color: #292929;
    font-size: 1.8rem;
    width: 7rem;
    height: 100%;
    cursor: pointer;
}

.header .center .button_voice {
    cursor: pointer;
    background-color: #181818;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    font-size: 1.8rem;
}

.header .center .button_voice:hover {
    background-color: #2b2b2b;
}